.body {
  background: rgb(24, 26, 24);
}
.banner{
    height:500px;
    margin: 10px;
    }
    .poster{
       justify-content: center;
      }

.bg-dark {
  transition: 450ms ease-in;
  box-shadow: 0 3px 20px rgba(black, 0.2);
  background-color: #171717 !important;
}
.result {
  /* width: 90%; */
  margin: 20px auto;
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* margin-top: 6%;
  margin-bottom: 5%;
  padding-top: 3%;
  padding-bottom: 2%;
  padding-right: 2%;
  padding-left: 2%; */
  /* box-shadow: 5px 5px 30px rgba(255, 255, 255, 0.678); */
  /* background-color: rgb(255, 255, 255); */
  /* background-image: url(https://wallpaperplay.com/walls/full/e/e/a/33401.jpg); */
  /* line-height: 40px; */
}

.card {
  /* margin-top: 30px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center    ; */
  border-radius: 5px;
  border: 1px solid black;
  overflow: hidden;
  padding: 5px;
  /* width: 250px; */
  background: rgb(7, 7, 7);
  /* display: none; */
  margin-top: 30px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  cursor: pointer;
  margin-left: 15px;
  margin-right: 15px;
}
.display {
  display: flex;
}
/* .card-image {
  display: flex;
  justify-content: center;
  /* border-radius: 20px; */
  overflow: hidden;
  /* height: 300px; */
  /* object-fit: cover; */
  flex: 1;
} */
/* .card-image img {
  width: 100%;
  height: 350px;
  object-fit: fill;
} */
/* .card-title h2 {
  margin-top: 0px;
  font-size: 20px;
  color: black;
  text-transform: uppercase;
  margin-top: 10px;
  font-family: "Bitter", serif;
  font-weight: 800;
  text-align: left;
} */

.card-title h3 {
  font-size: 14px;
  margin-top: 0;
  font-family: "Bitter", serif;
  font-weight: 400;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .navbar-nav.ml-auto {
    background: rgba(0, 0, 0, 0.5);
  }
  .naabar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
  }
  .carousel-caption h5 {
    font-size: 14px;
  }
  .carousel-caption p {
    font-size: 10px;
  }
  .carousel-caption a {
    padding: 5px;
  }
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(0, 3, 3);
  }
  
  .container:hover .overlay {
    opacity: 0.7;
  }
  .text {
    color: white;
    font-size: 20px ;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }